.beer {
	display: inline-block;
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    margin: 10px;
    border-radius: 5px;
    float: left;
    background-color: lightgray;

    &__image {
    	max-height: 150px;
    	margin: 20px 0;
    }
}