@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300);
$roboto-condensed: 'Roboto Condensed', sans-serif;


.page {
	text-align: center;
	padding: 0px 0; 
}
h2{
	color: white;
	margin-top: 40px;
	margin-bottom:5px;
}
header{
	overflow: hidden;
  	background-color: red;
  	background-image: linear-gradient(to bottom right, black, indigo); 
  	padding: 20px 10px;
}
header a {
  	float: right;
  	display: block;
	padding: 5px 5px;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
}
header p{
	color: white;
	font-family: $roboto-condensed;
	font-size: 12px;
}
#searchBar{
	width: 350px;
	height: 30px;
	padding: 10px;
	margin-top: 20px;
	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 1px;
  	box-sizing: border-box;
}
.logo{
	float: left;
	margin:0px;
	text-style:bold;
	display:block;
	color: white;
}
.transB{
	transform: rotate(-20deg);
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 1000px;
}
.beerlist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 850px;
}